<%= form_for @category, url: refinery.products_admin_categories_path do |f| %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>


  <div class='field'>
    <div id='page_part_editors'>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <% if !@categories.nil? %>
  <div class='field'>
    <%= f.label :parent_id %>
    <%= f.select :parent_id, available_categories(@categories), :include_blank => true %>
  </div>
  <% end %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_name => t('delete', :scope => 'refinery.products.admin.products.product'),
             :delete_confirmation =>  t('message', :scope => 'refinery.admin.delete', :title => @category.name),
             :delete_url => refinery.products_admin_categories_path
  %>

<% end %>
